body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#content{
	margin:0px 10px
}
.login-row{
	width:90%;
	margin-top:10%;
	float: none;
}
@media (min-width: 400px) { 
	.login-row{
		width:40%;
		margin-top:10%;
		float: none;
	}	
}
#login-box{
	padding: 10px;
	background-image: url("../images/wrapper_middle.png");
	background-size: 100% auto;
}
#login-box h1{
	font-size: 20px;
	margin: 10px;
	text-align: center;
}
.login-form{
	width:65%;
	min-width:50%;
	float: none;
}
.securelogo{
	margin-top:10px;
	text-align:center;
}
.securelogo img{
	width:100%;
	max-width:87px;
}
#footer{
	text-align:center;
}