body, div, span, object, iframe, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-family: inherit;
    font-size: 15px;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html,body{
  	height:100%;
}
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* off canvas ends */

/* Typeahead */
span.twitter-typeahead .tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion>p:hover, span.twitter-typeahead .tt-suggestion>p:focus{
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #428bca;
}

span.twitter-typeahead .tt-suggestion.tt-cursor {
	color: #ffffff;
	background-color: #428bca;
}
span.twitter-typeahead {
	width: 100%;
}
.input-group span.twitter-typeahead {
	display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 28px !important;
}
/*Typeahead*/

.marginleft10{
	margin-left:10px; 
}
.marginleft5{
	margin-left:5px; 
}
.marginleft0{
	margin-left:5px; 
}
.margintop10{
	margin-top:10px; 	
}
.toggleleftmenu {
	margin-left: -13px;
	width: 22px;
	padding-left: 3px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
}

header{
	height: 50px;
	background-color: #e5e5e5;
}
.asmnav{
	margin-top: 10px;
}
.container-fluid{
    max-width: 960px;
}
.container {
    width: 100%;
}
.login-row{
	width:90%;
	margin-top:10%;
	float: none;
}
.login-row .box-start{
	vertical-align: middle;
	 width: 99.8%
}
.login-row .box-end{
	vertical-align: top;
	width: 100%;
}
@media (min-width: 600px) { 
	.login-row{
		width:50%;
		margin-top:10%;
		float: none;
	}	
}
@media (min-width: 800px) { 
	.login-row{
		width:40%;
		margin-top:10%;
		float: none;
	}	
	#content{
		margin-left: 2%;
	}
	.login-row .box-end{
		width: 100.1%;
	}
	.ticketAttachments{
		margin-top: 25px;	
	}
}
@media(max-width:450px){
	.glyphicon-chevron-right:before{
		content:"";
	}
	#map-canvas{
		margin-top: 20px;
	}
}

.roundbordersmall{
	border: 1px solid #ddd;
	border-radius:4px;
}
#loading-indicator {
  position: absolute;
  left: 10px;
  top: 10px;
}

#sitelogo{
	width:50px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 4px;
}
#login-box{
	padding: 10px;
	background-image: url("../images/wrapper_middle.png");
	background-size: 100% auto;
}
#login-box h1{
	font-size: 20px;
	margin: 10px;
	text-align: center;
}
.login-form{
	width:65%;
	min-width:50%;
	float: none;
}
.securelogo{
	margin-top:10px;
	text-align:center;
}
.securelogo img{
	width:100%;
	max-width:87px;
}
#footer{
	text-align:center;
}
.control-label{
	font-weight: bold;	
}
.jumbotron{
	padding-top: 1px;
	background-color: #FFFFFF;
}
.asmnotification{
	font-weight: bold;
}
#content{
	margin-top:10px;
}
.jumbotron h1, .jumbotron .h1 {
	margin-top:0px;
	font-size: 20px;
}
.jumbotron p{
	font-size: inherit;
}
#asmdatatable_processing{
	padding-top: 10px;
}
.pageoptions{
	margin-bottom: 10px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin: 0;
}
.multiselect-container .radio input[type="radio"],.multiselect-container .radio-inline input[type="radio"],.multiselect-container .checkbox input[type="checkbox"],.multiselect-container .checkbox-inline input[type="checkbox"] {
	position: relative;
}
.mappingforms label{
	padding-left: 0;
}
.file-preview-frame{
	height: auto;
	min-width: 80px;
	max-width: 100px;
}
a.list-group-item{
	color: #667AB9;
}
a.list-group-item:hover, a.list-group-item:focus{
	background-color:#667AB9;
	color: #FFFFFF;
}
div.dataTables_filter input{
	width:100%;
}
.navbar-default {
    background-image: linear-gradient(to bottom, #fff, #f2f2f2)
}

#sidebar .glyphicon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
}
.navbar-right{
	margin-right: 10px;	
	margin-top: 5px;
}
.tablelogo{
	width:50px;	
}

.normaltext, .leftcolumns .form-horizontal .normaltext{
	font-weight: normal;
	text-align: left;
	font-size: inherit;
	margin-bottom: 0;
	
}
.labelblock{
	margin-bottom: 0px;
}
#map-canvas{
	height:200px;	
}
.timeline-body > p, .timeline-body > ul {
    word-wrap: break-word;
}
.timeline > li > .timeline-panel{
	width:65%
}
.timeline > li > .timeline-badge, .timeline:before {
	left:25%;
}
.badge-danger{
	background-color: #d9534f;
}
.badge-info{
	background-color: #5bc0de;
}
.badge-warning{
	background-color: #f0ad4e;
}
.badge-success {
    background-color: #5cb85c;
}
.badge-primary {
    background-color: #337ab7;
}
.minipie{
	height:150px;
}


@media (min-width: 960px) {
	.minichart{
		height:500px;
	}
}
@media (max-width: 500px) {
	.roundbordersmall{
		margin-top:10px;
	}
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
	margin-top: 20px;
	margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
  max-width: 98%;
}
.bold{
	font-weight: bold;
}
#displayTicketStatusCount [class*='col-'] {
	padding-left: 14px;
	padding-right: 14px;	
}

#vendorUserTicketCountTable td,#clientUserTicketCountTable td{
	width:100px;
    word-wrap: break-word;
    font-size: 10px;
}
.dashboardcol2{
	padding-left: 0;
}

#vendorUserTicketCountTable_wrapper > .row > div:first-child,#clientUserTicketCountTable_wrapper .dataTables_filter,#vendorUserTicketCountTable_wrapper .dataTables_filter,#clientUserTicketCountTable_wrapper > .row > div:first-child{
	display: none;
	width:1px
}
#vendorUserTicketCountTable_wrapper .row div:last-child, #clientUserTicketCountTable_wrapper .row div:last-child{
	width:100%;
}
.reports .dataTables_wrapper{
	margin-top:10px;
}
#filterNotification{
	margin-top: 10px;
}
.roundbordersmall h4{
	text-align: left;
}
.embed-responsive-ssm{
	padding-bottom:38.25%
}
#installedDateWrap{
	padding-left: 15px;
	width:73.7%
}	