body, div, span, object, iframe, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-family: inherit;
    font-size: 15px;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* off canvas*/

header{
	height: 50px;
	background-color: #e5e5e5;
}
.asmnav{
	margin-top: 10px;
}
.container-fluid{
    max-width: 960px;
}
.container-fluid {
    width: 1170px;
}
.login-row{
	width:90%;
	margin-top:10%;
	float: none;
}
@media (min-width: 600px) { 
	.login-row{
		width:50%;
		margin-top:10%;
		float: none;
	}	
}
@media (min-width: 800px) { 
	.login-row{
		width:40%;
		margin-top:10%;
		float: none;
	}	
}
#login-box{
	padding: 10px;
	background-image: url("../images/wrapper_middle.png");
	background-size: 100% auto;
}
#login-box h1{
	font-size: 20px;
	margin: 10px;
	text-align: center;
}
.login-form{
	width:65%;
	min-width:50%;
	float: none;
}
.securelogo{
	margin-top:10px;
	text-align:center;
}
.securelogo img{
	width:100%;
	max-width:87px;
}
#footer{
	text-align:center;
}
.control-label{
	font-weight: bold;	
}
.jumbotron{
	padding-top: 1px;
	background-color: #FFFFFF;
}
.asmnotification{
	font-weight: bold;
}
#content{
	margin-top:10px;
}
.jumbotron h1, .jumbotron .h1 {
	margin-top:0px;
	font-size: 50px;
}
#asmdatatable_processing{
	background-color: #337ab7;
	padding-top: 10px;
}
.pageoptions{
	margin-bottom: 10px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin: 0;
}
.multiselect-container .radio input[type="radio"],.multiselect-container .radio-inline input[type="radio"],.multiselect-container .checkbox input[type="checkbox"],.multiselect-container .checkbox-inline input[type="checkbox"] {
	position: relative;
}
.mappingforms label{
	padding-left: 0;
}